<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<bean id="employeeExcel"
	    class="org.kns.timecard.frontend.common.utility.EmployeeExportTemplate">
	</bean>
	<bean id="projectExcel"
	    class="org.kns.timecard.frontend.common.utility.ProjectExportTemplate">
	</bean>
	<bean id="taskExcel"
	    class="org.kns.timecard.frontend.common.utility.TaskExportTemplate">
	</bean>

</beans>